<%= javascript_include_tag "components/pages/Clubs/index", "data-turbo-track": "reload", defer: true %>
<%= javascript_tag do %>
  var clubs = <%= raw(@clubs.to_json) %>
<% end %>
<div id="clubs"></div>

***
ERB

<% @clubs.each do |club| %>

  <%= link_to club_events_path(club) do %>
    <%= club.name %>
  <% end %>

<% end %>
