<%= javascript_include_tag "components/pages/Events/index", "data-turbo-track": "reload", defer: true %>
<%= javascript_tag do %>
  var events = <%= raw(@events.to_json) %>
<% end %>
<div id="events"></div>

***
ERB


<%= @event.title %>
<br>
<%= @event.start_date %>
<br>
<%= @event.end_date %>

<br>
<%= link_to "Preview", "#{club_event_path(@club, @event)}/donate", class: "p-2 pl-5 pr-5 transition-colors duration-700 transform bg-indigo-500 hover:bg-blue-400 text-gray-100 text-lg rounded-lg focus:border-4 border-indigo-300" %>

