<!DOCTYPE html>
<html>
  <head>
    <title>Kiwanis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/antd/4.17.0-alpha.6/antd.compact.min.css" %>
  </head>

  <body>
    <%= yield %>
    <% if signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button"  %>
    <% end %>
  </body>
</html>
